.chessboard {
  display: flex;
  height: 100vh;
    width: 100vw;
    
  }
  
  .columns {
  flex-direction: column;

}

.squares {
  width: 100px;
  height: 100px;
  background-color: white;
  border: 3px solid grey;

}

.chessboard div:nth-child(odd) div:nth-child(even) {
  background-color: black;
}

.chessboard div:nth-child(even) div:nth-child(odd) {
  background-color: black;
}